__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.*
venv/
*.sqlite3
instance/
.DS_Store
*.log
*.bak
*.swp
.idea/
*.db
*.egg-info/
dist/
build/
.cache/
*.h5
*.pt
*.pth
*.model
*.safetensors
.ipynb_checkpoints/
